@page "/details"
@model ProjectMangukiyaBrijMukesh.detailsModel
@{
}
<script>

    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        console.log('@ViewData["trailer"]');
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: '@ViewData["trailer"]',
            playerVars: {
                'playsinline': 1
            }

        });
    }
</script>

<div class="img-backdrop" style="background-image:url(@ViewData["backdrop"])">
</div>


<div class="details-container">
    <img src='@ViewData["Poster"]' class="poster" />
    <div class="info">
        <h2 class="neonText1">@ViewData["Title"]</h2><br />
        <p><strong>Overview:</strong> @ViewData["Overview"]</p>
        @if (ViewData["Type"] == "Movie" && ViewData["trailer"]!= null)
        {
            <p><strong>Trailer:</strong></p>
            <div id="player" class="glow-player"> </div>
        }
        else if (ViewData["Type"] == "TV Show" && ViewData["trailer"] != null)
        {
            <p><strong>Random Featurette(new on page refresh):</strong></p>
            <div id="player" class="glow-player"> </div>
        }
        <p><strong>Release Date:</strong> @ViewData["ReleaseDate"]</p>
        <p><strong>Runtime:</strong> @ViewData["RunTime"] minutes</p>
        <a id="imdb" href="@ViewData["ImdbLink"]" target="_blank">View on IMDB</a>
        <form method="post">
            <select name="selected" asp-items="@Model.watchlists">
                <option value="0">-- Select a watchlist --</option>
            </select>
            <input type="hidden" name="id" value="@ViewData["MediaId"]" />
            <input type="hidden" name="overview" value="@ViewData["Overview"]" />
            <input type="hidden" name="genreid" value="@ViewData["GenreId"]" />
            <input type="hidden" name="mediaType" value="@ViewData["Type"]" />
            <input type="hidden" name="poster" value="@ViewData["Poster"]" />
            <input type="hidden" name="title" value="@ViewData["Title"]" />

            <input type="submit" value="Add" asp-page-handler="Submit" />

        </form>
    </div>
</div>
